button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 40px;
    border-radius: 1.25rem;
    border: 1px solid #ECECEC;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    color: #fff;
    background-color: #1B2E35;
}

.modal-button {
    max-width: 113px !important;
    width: 100% !important;
}

.cancel-it {
    max-width: 119px !important;
    
}

.delete-red {
    background-color: #FF4949;
    color: white;
    padding: 10px;
    border-radius: 1.25rem;
    border: 1px solid #FF4949 !important;
    max-width: 113px !important;

}

.delete-red:hover {
    color: #FF4949 !important;
}