.tasks {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    margin-bottom: 2.5rem;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}



.tasks::-webkit-scrollbar {
    display: none;
}

.tasks__column {
    min-width: 295px;
    max-width: 295px;
    width: 100% !important;
}

.tasks__header {
    align-items: center;
    display: flex;
    gap: 9.125rem;
    border-bottom: 1px solid #385A64;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    flex-wrap: nowrap;
    width: 100%;
}

.tasks__header__title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tasks__header__title h1 {
    font-size: 1.3125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.tasks__header p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #385A64;
}

@media (max-width: 1270px) {
   .tasks{
    justify-content: flex-start;
   }

   .tasks__shadow {
    position: absolute;
    background-image: url("/src/assets/img/image_720.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 4.375rem;
    top: 60px;
    right: 0;
    bottom: 0;
}
}