.c-tasks {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    margin-bottom: 2.5rem;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}



.c-tasks::-webkit-scrollbar {
    display: none;
}

.c-tasks__column {
    min-width: 295px;
    max-width: 295px;
    width: 100% !important;
}

.c-tasks__header {
    align-items: center;
    display: flex;
    gap: 9.125rem;
    border-bottom: 1px solid #385A64;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    flex-wrap: nowrap;
    width: 100%;
}

.c-tasks__header__title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.c-tasks__header__title h1 {
    font-size: 1.3125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.c-tasks__header p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #385A64;
}

@media (max-width: 1270px) {
   .c-tasks{
    justify-content: flex-start;
   }

   .c-tasks__shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    pointer-events: none;
}
}