.header {
    background-color: #2C444E;
    margin-bottom: 100px;
    width: 100%;
}

.header__logo {
    height: 3.75rem;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header__logo h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1.875rem;
    line-height: 2.4375rem;
}

.header__logo--task,
.header__logo--do {
    color: #FFFFFF;
    font-weight: 700;
}

.header__logo--to {
    font-weight: 200;
    color: #FFFFFF;
}